footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

footer > .info {
    display: flex;
    flex-direction: row;
    background-color: rgb(184, 217, 228);
    height: 200px;
    width: 100%;
}

footer > .info > div {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 1%;
}

footer > .info > div > .title {
    font-weight: bold;
    font-size: large;
}

footer > .info > div > p {
    font-size: 13px;
    line-height: 20px;
}

footer > .info > div > a {
    margin: 2% 0;
    font-size: 13px;
    text-decoration: none;
    color: darkblue;
}

footer > .info > div > a:hover {
    color: rgb(0, 183, 255);
    text-decoration: underline;
} 

footer > .info > div > .socials {
    height: 100%;
    margin: 5% 2%;
}

footer > .info > div > .socials > a{
    margin: 0 4%;
    font-size: 20px;
    color: darkblue;
}

footer > .info > div > .socials > a:hover {
    color: rgb(0, 183, 255);
}

footer > .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 153);
    color: white;
    height: 50px;
    font-size: small;
}


/*Phone Style*/
@media only screen and (max-width: 600px){
    footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }

    footer > .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(184, 217, 228);
        height: 650px;
        width: 100%;
    }

    footer > .info > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 2% 0;
    }

    footer > .info > div > .title {
        font-weight: bold;
        font-size: large;
    }

    footer > .info > div > p {
        font-size: 12px;
        line-height: 20px;
        margin-top: 1%;
    }

    footer > .info > div > a {
        margin: 2% 0;
        font-size: 12px;
        text-decoration: none;
        color: darkblue;
    }

    footer > .info > div > a:hover {
        color: rgb(0, 183, 255);
        text-decoration: underline;
    } 

    footer > .info > div > .socials {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 40%;
        margin: 0 2%;
    }

    footer > .info > div > .socials > a{
        margin: 5% 2%;
        font-size: 20px;
        color: darkblue;
    }

    footer > .info > div > .socials > a:hover {
        color: rgb(0, 183, 255);
    }

    footer > .copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(43, 43, 153);
        color: white;
        height: 50px;
        font-size: small;
    }
}