.productGrid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 1% 3%;
}

.productContainer > a{
    height: 100%;
    width: 100%;
}

.productGrid > .gridButton{
    height: 350px;
    width: 600px;
    border: 3px solid black;
    margin: 1%;
    filter: grayscale(100%);
}

.productGrid > .gridButton:hover{
    filter: grayscale(0);
    box-shadow: 0 0 10px black;
}

/*Product Style base*/
.productContainer{
    display:flex;
}

.boxProduct{
    width: 50%;
}

.image > img{
    display: block;
    width: 100%;
    height: 100%;
}


.information > .buttonDirectory{
    padding: 10px 15px;
    margin: 5%;
    width: 100px;
    font-size:15px;
    border: 1px none;
    border-radius: 30px;
    background-color: lightgray;
    display:block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.information > .buttonDirectory:hover{
    color: white;
    background-color: black;
}

.title{
    font-size: 45px;
    font-weight: bold;
    margin: 5%;
}

.boxProduct > .description{
    color:rgb(177, 177, 177);
    text-align: left;
    text-justify: auto;
    margin: 2.5% 5%;
    font-size: 10px;
}

/*Shop Button*/
.shopping{
    display:block;
    padding: 15px;
    margin: 5%;
    width: 160px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.shopping > i{
    padding-right: 10px;
}

.shopping:hover{
    color: darkorange;
}

/*Prices*/
.priceAndColor{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

.prices{
    display:flex;
    align-items: center;
    width: 50%;
    margin-left: 5% ;
}

.prices > .currentPrice{
    font-size: 20px;
}

.prices > .previousPrice{
    color:red;
    text-decoration: line-through;
    margin-left: 7%;
    font-size: 10px;
}

/*Colored Circles*/
.circles{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-right: 5%;
}

.circles > .boton {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    box-shadow: 0 0 20px black;
}

.circles > .boton.color-negro {
    background-color: black;
}
.circles > .boton.color-tan {
    background-color: rgb(241, 179, 98);
}
.circles > .boton.color-rojo {
    background-color: red;
}


@media only screen and (max-width: 1080px){
    .productGrid{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .productContainer > a{
        height: 100%;
        width: 100%;
    }
    
    .productGrid > .gridButton{
        height: 700px;
        width: 400px;
        border: 3px solid black;
        margin: 1%;
        filter: grayscale(100%);
    }
    
    .productGrid > .gridButton:hover{
        filter: grayscale(0);
    }
    
    /*Product Style base*/
    .productContainer{
        display:flex;
        flex-direction: column;
    }
    
    .boxProduct{
        width: 100%;
    }

    .information{
        width: 100%;
    }
    
    .image > img{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .information > .buttonDirectory{
        padding: 10px 15px;
        margin: 5%;
        width: 120px;
        font-size:20px;
        border: 1px none;
        border-radius: 30px;
        background-color: lightgray;
        display:block;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        position:absolute;
        right: -1px;
        bottom: 205px ;
    }
    
    .information > .buttonDirectory:hover{
        color: white;
        background-color: black;
    }
    
    .title{
        font-size: 45px;
        font-weight: bold;
        margin: 5%;
    }
    
    .boxProduct > .description{
        color:rgb(177, 177, 177);
        text-align: left;
        text-justify: auto;
        margin: 2.5% 5%;
        font-size: 11px;
    }
    
    /*Shop Button*/
    .shopping{
        display:block;
        padding: 15px;
        margin: 5%;
        width: 180px;
        background-color: black;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    
    .shopping > i{
        padding-right: 10px;
    }
    
    .shopping:hover{
        color: darkorange;
    }
    
    /*Prices*/
    .priceAndColor{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 5% 0;
    }
    
    .prices{
        display:flex;
        align-items: center;
        width: 50%;
        margin-left: 5% ;
    }
    
    .prices > .currentPrice{
        font-size: 25px;
    }
    
    .prices > .previousPrice{
        color:red;
        text-decoration: line-through;
        margin-left: 7%;
        font-size: 10px;
    }
    
    /*Colored Circles*/
    .circles{
        display:flex;
        align-items: center;
        justify-content: end;
        width: 50%;
        margin-right: 10%;
    }
    
    .circles > .boton {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        box-shadow: 0 0 20px black;
    }
    
    .circles > .boton.color-negro {
        background-color: black;
    }
    .circles > .boton.color-tan {
        background-color: rgb(241, 179, 98);
    }
    .circles > .boton.color-rojo {
        background-color: red;
    }
}


@media only screen and (max-width: 600px){
    .productGrid{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .productContainer > a{
        height: 100%;
        width: 100%;
    }
    
    .productGrid > .gridButton{
        height: 900px;
        width: 550px;
        border: 3px solid black;
        margin: 1%;
        filter: grayscale(100%);
        margin: 5% 0;
    }
    
    .productGrid > .gridButton:hover{
        filter: grayscale(0);
    }
    
    /*Product Style base*/
    .productContainer{
        display:flex;
        flex-direction: column;
    }
    
    .boxProduct{
        width: 100%;
    }

    .information{
        width: 100%;
    }
    
    .image > img{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .information > .buttonDirectory{
        padding: 10px 15px;
        margin: 5%;
        width: 120px;
        font-size:20px;
        border: 1px none;
        border-radius: 30px;
        background-color: lightgray;
        display:block;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        position:absolute;
        right: -1px;
        bottom: 240px ;
    }
    
    .information > .buttonDirectory:hover{
        color: white;
        background-color: black;
    }
    
    .title{
        font-size: 45px;
        font-weight: bold;
        margin: 5%;
    }
    
    .boxProduct > .description{
        color:rgb(177, 177, 177);
        text-align: left;
        text-justify: auto;
        margin: 2.5% 5%;
        font-size: 11px;
    }
    
    /*Shop Button*/
    .shopping{
        display:block;
        padding: 15px;
        margin: 5%;
        width: 180px;
        background-color: black;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    
    .shopping > i{
        padding-right: 10px;
    }
    
    .shopping:hover{
        color: darkorange;
    }
    
    /*Prices*/
    .priceAndColor{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 5% 0;
    }
    
    .prices{
        display:flex;
        align-items: center;
        width: 50%;
        margin-left: 5% ;
    }
    
    .prices > .currentPrice{
        font-size: 25px;
    }
    
    .prices > .previousPrice{
        color:red;
        text-decoration: line-through;
        margin-left: 7%;
        font-size: 10px;
    }
    
    /*Colored Circles*/
    .circles{
        display:flex;
        align-items: center;
        justify-content: end;
        width: 50%;
        margin-right: 10%;
    }
    
    .circles > .boton {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        box-shadow: 0 0 20px black;
    }
    
    .circles > .boton.color-negro {
        background-color: black;
    }
    .circles > .boton.color-tan {
        background-color: rgb(241, 179, 98);
    }
    .circles > .boton.color-rojo {
        background-color: red;
    }
}