header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.3% 0;
    height: 60px;
    background-color: rgb(40, 40, 45);
}

/*Title*/
header > .headerTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

header > .headerTitle > div{
    margin-left: 5%;
}

.logoText{
    color: rgb(218, 137, 32);
    font-size: 45px;
    text-align: center;
    width: 250px;
}

/*Menu Tabs*/
header > .headerTabs{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header > .headerTabs > div{
    display: flex;
    align-items: center;
    padding: 0 7.5%;
    height: 100%;
}

header > .headerTabs > div:hover{
    background-color: white;
    
}

header > .headerTabs > div:hover > .tabButtons{
    color: rgb(218, 137, 32);
}

.tabButtons{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
    height: 100%;
    width: 100%;
}

/*Accounts*/
header > .headerAccounts{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0.5%;
}

.accountButton.Login:hover{
    color:white;
    background-color: rgb(218, 137, 32);
}

.accountButton.Register:hover{
    color: white;
    background-color: rgb(218, 137, 32);
}

.headerLogo > img{
    display: block;
    height: 50px;
    width: 50px;
}

.accountButton{
    border: 2px solid rgb(218, 137, 32);
    border-radius: 5%;
    display:block;
    padding: 10px 10px;
    text-wrap: nowrap;
    margin: 0 2.5px;
    width: auto;
    background-color: rgb(40, 40, 45);
    text-align: center;
    text-decoration: none;
    color: rgb(218, 137, 32);
}

.accountButton > i{
    padding-right: 5px;
}

.logoText > b{
    color:white;
}

.accountButton.Register{
    background-color: white;
}

@media only screen and (max-width: 1080px){
    header > .headerAccounts{
        display: none;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0.5%;
    }

    /*Title*/
    .logoText{
        color: rgb(218, 137, 32);
        font-size: 30px;
        text-align: left;
        width: 250px;
    }

    /*Menu Tabs*/
    header > .headerTabs{
        display: flex;
        color: white;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    header > .headerTabs > div{
        display: flex;
        align-items: center;
        padding: 0 7.5%;
        height: 100%;
    }

    .tabButtons{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .tabButtons:hover{
        color: rgb(218, 137, 32);
    }
}

@media only screen and (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        background-color: rgb(40, 40, 45);
    }

    /*Title*/

    header > .headerTitle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 75px;
        margin-bottom: 2px;
    }

    header > .headerTitle > div{
        margin-left: 5%;
    }
    
    header > .headerAccounts{
        display: none;
        justify-content: center;
        align-items: center;
        margin: 0 0.5%;
    }

    .logoText{
        color: rgb(218, 137, 32);
        font-size: 20px;
        text-align: left;
        width: 160px;
    }

    /*Menu Tabs*/
    header > .headerTabs{
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-bottom: 1px;
    }

    header > .headerTabs > div{
        display: flex;
        align-items: center;
        padding: 0 7.5%;
        height: 100%;
    }

    .tabButtons{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    .tabButtons:hover{
        color: rgb(218, 137, 32);
    }
}