/*General*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    display: block;
    width: 100%;
    height:100%;
}

/*Page Title*/
.pageTitle{
    width: 99%;
    height: 10%;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: rgb(163, 163, 163);
    padding: 3% 0;
    margin: 1% 0;
}

.pageTitle > p{
    text-align: center;
    font-size: 60px;
    font-style: italic;
    text-shadow: 0 0 10px black;
    letter-spacing: 5px;
}

/*Page Containers*/
.pageContent{
    display: flex;
    flex-direction: row;  
    width: 95%;
    height: 600px;
    margin: 3% 0;  
}

.imageContainer > img{
    display: block;
    width: 95%;
    height:100%;
}

.mainContainer1 > .imageContainer{
    width: 30%;
}

.pageContent > .infoContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

/*Sub Containers*/
.infoTitle{
    margin-top: 5%;
    font-size: 35px;
    font-weight: bold;
}

.brand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 2% 0;
}

.containerLogo > img{
    display: block;
    height: 60px;
    width: 60px;
}

.brand > div >.containerLogoText{
    color: rgb(218, 137, 32);
    font-size: 35px;
    text-align: center;
    width: 100px;
    margin: 0 15%;
    font-weight: 200;
}

.black{
    color: black;
}

.lorem1{
    margin: 0 2% 1% 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
}

.lorem2{
    margin: 0 2% 1% 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    color: rgb(167, 167, 167);
}

.socialMediaLogos{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.socialMediaLogos > .socialLogo{
    margin: 0 2%;
}

.socialMediaLogos > .socialLogo > img{
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
    filter:grayscale(100%);
}

.socialMediaLogos > .socialLogo > img:hover{
    filter:grayscale(0);
}

@media only screen and (max-width: 1080px){
    /*Page Title*/
    .pageTitle{
        width: 99%;
        height: 10%;
        border-top: 3px solid;
        border-bottom: 3px solid;
        border-color: rgb(163, 163, 163);
        padding: 3% 0;
        margin: 1% 0;
    }

    .pageTitle > p{
        text-align: center;
        font-size: 50px;
        font-style: italic;
        text-shadow: 0 0 10px black;
        letter-spacing: 5px;
    }

    /*Page Containers*/
    .pageContent{
        display: flex;
        flex-direction: column;  
        align-items: center;
        width: 95%;
        height: 1200px;
        margin: 3% 0;  
    }

    .imageContainer > img{
        display: block;
        width: 95%;
        height:100%;
    }

    .mainContainer1 > .imageContainer{
        width: 30%;
    }

    .pageContent > .infoContainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 95%;
    }

    /*Sub Containers*/
    .infoTitle{
        margin-top: 5%;
        font-size: 35px;
        font-weight: bold;
    }

    .brand{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 10%;
        margin: 2% 0;
    }

    .containerLogo > img{
        display: block;
        height: 60px;
        width: 60px;
    }

    .brand > div >.containerLogoText{
        color: rgb(218, 137, 32);
        font-size: 35px;
        text-align: center;
        width: 100px;
        margin: 0 15%;
        font-weight: 200;
    }

    .black{
        color: black;
    }

    .lorem1{
        margin: 0 2% 1% 0;
        font-size: 17px;
        font-weight: bold;
        line-height: 23px;
    }

    .lorem2{
        margin: 0 2% 1% 0;
        font-size: 20px;
        font-weight: bold;
        line-height: 25px;
        color: rgb(167, 167, 167);
    }

    .socialMediaLogos{
        display: flex;
        flex-direction: row;
        height: 30%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .socialMediaLogos > .socialLogo{
        margin: 0 2%;
    }

    .socialMediaLogos > .socialLogo > img{
        border-radius: 50%;
        display: block;
        height: 40px;
        width: 40px;
        filter:grayscale(100%);
    }
}
