.productContainer{
    display:flex;
}

.boxProduct{
    width: 50%;
}

.image > img{
    display: block;
    width: 100%;
    height: 100%;
}

/*Information Side*/
.information {
    width: 50%;
}

.information > .buttonDirectory{
    padding: 10px 15px;
    margin: 5%;
    width: 11vw;
    font-size:2vw;
    border: 1px none;
    border-radius: 30px;
    background-color: lightgray;
    display:block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.information > .buttonDirectory:hover{
    color: white;
    background-color: black;
}

.boxProduct > .description{
    color:rgb(177, 177, 177);
    text-align: left;
    text-justify: auto;
    margin: 2.5% 5%;
    font-size: 1vw;
}

.title{
    font-size: 4vw;
    font-weight: bold;
    margin: 5%;
}

.shopping{
    display:block;
    padding: 15px;
    margin-left: 5%;
    width: 11vw;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1vw;
}

.shopping > i{
    padding-right: 10px;
}

.shopping:hover{
    color: gold;
}

.priceAndColor{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

.prices{
    display:flex;
    align-items: center;
    width: 50%;
    margin-left: 5% ;
}

.prices > .currentPrice{
    font-size: 3vw;
}

.prices > .previousPrice{
    color:red;
    text-decoration: line-through;
    margin-left: 7%;
    font-size: 1vw;
}

.circles{
    display:flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    margin-right: 10%;
}

.circles > .boton {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    margin: 0 5px;
    box-shadow: 0 0 20px black;
}

.circles > .boton.color-negro {
    background-color: black;
}
.circles > .boton.color-tan {
    background-color: rgb(241, 179, 98);
}
.circles > .boton.color-rojo {
    background-color: red;
}

@media only screen and (max-width: 1080px){
    .productContainer{
        display:flex;
        flex-direction: column;
    }

    .boxProduct{
        width: 100%;
    }

    .information{
        width: 100%;
    }

    .information > .buttonDirectory{
        padding: 10px 15px;
        margin: 5%;
        width: 120px;
        font-size:20px;
        border: 1px none;
        border-radius: 30px;
        background-color: lightgray;
        display:block;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        position:absolute;
        right: -1px;
    }

    .boxProduct > .description{
        color:rgb(177, 177, 177);
        text-align: left;
        text-justify: auto;
        margin: 2.5% 5%;
        font-size: 15px;
    }

    .title{
        font-size: 40px;
        font-weight: bold;
        margin: 5%;
    }

    .prices > .currentPrice{
        font-size: 30px;
    }
    
    .prices > .previousPrice{
        color:red;
        text-decoration: line-through;
        margin-left: 7%;
        font-size: 12.5px;
    }

    .shopping{
        display:block;
        padding: 15px;
        margin: 5%;
        width: 120px;
        background-color: black;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 10px;
    }

    .circles > .boton {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
}